<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <form id="list" method="post" action="#">
        <% for(element of data){ %>
            <li><a class="btn" id="<%= element  %>"  ><%= element  %></a></li>
        <% } %>  
    </form>


    <!-- SCRIPT -->
    <script>
        $(".btn").click(function(){
            var id = $(this).attr("id")
            $.post('/', {data: id});
        })
    </script>
</body>
</html>